<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/core/way.js" type="text/javascript" charset="utf-8"></script>
		<!--<script type="text/javascript" src="../js/core/vue.js" ></script>-->
	</head>
	<body>
		<div id="example">
			<ul>
				
			</ul>
		</div>
		<script>
			var o  = new Way({
				el : "#example ul",
				data : [{
					a : 1
				},{
					a: 2
				}]
				,template : function(){
					var str = "",
						self = this.data,
						len = self.length;
						
					while(len){
						len --;
						str += "<div> "+ self[len].a +" </div>";
					}
					return str;
				}
			});
		</script>
	</body>
</html>
